[project]
	description = PoC Scala with Play frarkmewo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mfencei (mfencei)
[access "refs/for/refs/*"]
	read = group user/mfencei (mfencei)
	push = group user/mfencei (mfencei)
	label-Code-Review = -2..+2 group user/mfencei (mfencei)
	label-Verified = -1..+1 group user/mfencei (mfencei)
	rebase = group user/mfencei (mfencei)
	removeReviewer = group user/mfencei (mfencei)
	submit = group user/mfencei (mfencei)
[access "refs/heads/*"]
	read = group user/mfencei (mfencei)
	create = group user/mfencei (mfencei)
	push = +force group user/mfencei (mfencei)
	pushMerge = group user/mfencei (mfencei)
[access "refs/tags/*"]
	push = +force group user/mfencei (mfencei)
	pushTag = group user/mfencei (mfencei)
	pushSignedTag = group user/mfencei (mfencei)
